
 .photo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  .photo-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgb(0 0 0 / 17%);
  }
  
  .photo-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 10000;
  }

svg:not(:root) {
    display: block;
}

.playable-code {
    background-color: #f4f7f8;
    border: none;
    border-left: 6px solid #558abb;
    border-width: medium medium medium 6px;
    color: #4d4e53;
    height: 100px;
    width: 90%;
    padding: 10px 10px 0;
}

.camera {
    display: grid;
    justify-content: center;
    align-content: center;
}

.photos{
    display: flex;
}

.playable-canvas {
    border: 1px solid #4d4e53;
    border-radius: 2px;
}

.playable-buttons {
    text-align: right;
    width: 90%;
    padding: 5px 10px 5px 26px;
}

#video {
    width: 600px;
    height: 450px;
    border: 1px solid black;
}

#currentPhoto  {
    width: 100%;
}

#currentPhoto, #photo {    
    width: 180px;
    height: 240px;
    border: 1px solid black;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.frame-left, .frame-right {
    position: absolute;
    height: 450px;
    opacity: 0.6;
}

.frame-left {
    border-left: black solid 131px;
}

.frame-right {
    border-right: black solid 131px;
    right: 20px;
}

#canvas {
    display: none;
}

.output {
    margin: 0 0 0 26px;
    right: 20px;   
    position: absolute;
}

.startbutton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    bottom: -12px;
}

.contentarea {
    position: absolute;
    height: 100%;
    z-index: 1000;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;

}
.cancel{
    bottom: 0;
    float: left;
}

.d-none{
    display: none;
}

.photo {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 185px !important;
    height: 40px !important;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important;
    transform: translate(-50%, -50%);
}

#error {
    bottom: 18rem;
    position: relative;
    margin: auto;
    width: 200px;
}

@media screen and (max-height: 900px) {
    #currentPhoto, #photo {
        width: 120px;
        height: 160px;
    }
  }