{{#unless hide}}
<div style="font-weight: bold;" class="treeViewNode treeViewSubNode textIcon" {{action 'toggleExpand'}}>
    <div class="collapseTriangle{{if isExpanded ' triangleExpanded' ' triangleCollapsed'}}" style= {{collapseIconStyle}}></div>
    {{headline}}
    {{#if isInvalid}}
    {{icon 'error'}}
    {{else if isSubsequent}}
    {{icon 'subsequent'}}
    {{else if isValidationStatusValid}}
    {{icon 'checkmark'}}
    {{/if}}
</div>
{{#if isSubsequent}}
<pre class="treeViewNode validationErrorMessage warning">{{validationMessage}}</pre>
{{/if}}
{{#if isInvalid}}
<pre class="treeViewNode validationErrorMessage">{{validationMessage}}</pre>
{{/if}}
{{#if isExpanded}}
<div class="treeViewContent">
    {{#each sd in subscriptionDetails itemController='subscriptionDetail'}}
    <div class="formRow treeViewNode{{if sd.isRemark ' formRemarkRow'}}">
        {{subscription-detail model=sd.subscriptionDetail isValid=sd.isValid validationStatus=validationStatus value=sd.sdValue setReadOnly=setReadOnly dependencies=dependencies allSDs=allSDs hideParent=true setDisabled=allDisabled onDisable='onDisable' onHide='onHide' onShow='onShow'}}
    </div>
    {{/each}}
</div>
{{/if}}
{{/unless}}