    <label class="formLabelTop{{if isRequired ' required'}}">{{label}}</label>
    {{#if tooltip}}{{tooltip-button text=tooltip absolutePosition=true maxWidth=600}}{{/if}}
    {{#if isSelect}}
        {{combo-box dataSource=content value=value disabled=disabled name=fieldname placeholder=placeholder containerSelector='.form'}}
    {{else if isDate}}
        {{date-textbox date=value required=isRequired disabled=disabled name=fieldname yearRange=yearRange hideButton=hideButton}}
    {{else}}
        {{#if isMultiline}}
            {{textarea rows=5 value=value required=isRequired disabled=disabled name=fieldname}}
        {{else}}
            {{#if mask}}
                {{masked-textbox type=type value=value disabled=disabled required=isRequired name=fieldname mask=mask placeholder=placeholder }}
            {{else}}
                {{input type=type value=value disabled=disabled required=isRequired name=fieldname placeholder=placeholder}}
            {{/if}}
        {{/if}}    
    {{/if}}