<div style={{collapseItemStyle}} class="treeViewNode textIcon" {{action 'toggleExpand'}}>
    <div class="collapseTriangle{{if isExpanded ' triangleExpanded' ' triangleCollapsed'}}" style={{collapseIconStyle}}></div>
    <div class="onlaWorkProgressText">{{model.Name}}</div>
    {{#if model.IsCurrent}}
    <button type="button" {{action 'openForEdit'}}>
        {{{validationIcon}}}
    </button>
    {{else}}
        {{{validationIcon}}}
    {{/if}}
    {{#if showEdit}}
    <button type="button" {{action 'openForEdit'}}>
        {{#if isWorking}}
        {{icon 'loadingAnimation'}}
        {{else}}
        {{icon 'edit'}}
        {{/if}}
    </button>
    {{/if}}
</div>
{{#if isExpanded}}
<div class="treeViewContent">
    {{#each sdGroup in sdGroups}}
    {{subscription-detail-group group=sdGroup allSDs=allSDs isExpanded=false setReadOnly=true }}
    {{/each}}
</div>
{{/if}}