<div class="dialogDraggable">
    <div class="dialog dialogResizable">
        <div class="dialogHeader">
            <div class="dialogIcon"></div>
            <h2 class="dialogTitle">
                {{{title}}}
            </h2>
            <div class="buttonContainer">
                {{#unless hideClose}}
                <button id="btnClose" type="button" {{action 'cancelClicked'}}>
                    {{icon 'close'}}
                </button>
                {{/unless}}
            </div>
            {{#if subTitle}}
            <div class="sectionTitle">{{subTitle}}</div>
            {{/if}}
        </div>
        {{yield}}
        {{#unless hideFooter}}
        <div class="dialogFooter">
            <div class="buttonContainer">
                {{#if showCancel}}
                <button id="btnCancel" type="button" class="textButton" {{action 'cancelClicked'}}>
                    {{icon 'close'}}
                    <div>{{translate 'cancel'}}</div>
                </button>
                {{/if}}
                {{#if showOk}}
                <button id="btnOk" type="button" class="textButton" {{action 'doPayment'}}>
                    {{#if isWorking}}
                    {{icon 'loadingAnimation'}}
                    {{else}}
                    {{icon okIcon}}
                    {{/if}}
                    <div>{{translate 'payNow'}}</div>
                </button>
                {{/if}}
            </div>
        </div>
        {{/unless}}
    </div>
</div>