{{#unless hide}}
{{#blend-element}}
{{#if isHeader}}
<h3>{{model.VssBezeichnung}}</h3>
{{else if isRemark}}
<div class="formRemark">{{{model.VssBezeichnung}}}</div>
{{else}}
{{#if showLabel}}
<label title="{{model.Tooltip}}" class={{if required 'required'}} for="{{controlId}}">
    {{{model.VssBezeichnung}}}
    {{#if hasTooltip}}
    {{tooltip-button text=model.Tooltip}}
    {{/if}}
</label>
{{/if}}
{{#if isReadOnly}}
{{#if isFile}}
{{#if hasValue}}
{{file-chooser filename=model.Value fileUrl=fileUrl disabled=true}}
{{/if}}
{{else if isFoto}}
{{#if hasValue}}
{{foto-chooser filename=model.Value fileUrl=fileUrl disabled=true}}
{{/if}}
{{else}}
<span class="subscriptionDetailValue">
    {{{readOnlyIcon}}}
    {{translatedValue}}
</span>
{{/if}}
{{else}}
{{#if validationError}}
<div style="white-space: nowrap">
    <div class="error">{{validationError}}</div><button type="button" {{action 'cancelValidationError'}}>{{icon 'close'}}</button>
</div>
{{else if isDropdown}}
{{#if model.ShowAsRadioButtons}}
<div class="radioButtonList">
    {{#each radioButtonListItems as |item|}}
    <div>{{radio-button value=item.Key checkedValue=model.Value name=model.IdObject id=(concat controlId item.Key) disabled=isDisabled}}<label for="{{concat model.IdObject item.Key}}">{{item.Value}}</label></div>
    {{/each}}
</div>
{{else}}
{{combo-box classBinding=':combobox isValid::validationError ' dataSource=dropdownItems value=model.Value id=controlId disabled=isDisabled allowArbitraryText=allowArbitraryText inputMaxlength=inputMaxlength adaptAs=(if isMemo 'memo' 'text')}}
{{/if}}
{{else if isFile}}
{{#if hasValue}}
{{file-chooser classBinding='isValid::validationError ' filename=model.Value fileUrl=fileUrl onDelete="deleteFile" onConfirm="saveFile" disabled=isDisabled addTextNew=(translate 'addPDF') addTextMerge=(translate 'mergePDF')}}
{{else}}
{{file-chooser classBinding='isValid::validationError ' extension='pdf' onDelete="deleteFile" onConfirm="saveFile" disabled=isDisabled addTextNew=(translate 'addPDF') addTextMerge=(translate 'mergePDF')}}
{{/if}}
{{else if isFoto}}
{{#if hasValue}}
{{foto-chooser classBinding='isValid::validationError ' filename=model.Value fileUrl=fileUrl onDelete="deleteFile" onConfirm="saveFile" disabled=isDisabled addTextNew=(translate 'addImage')}}
{{else}}
{{foto-chooser classBinding='isValid::validationError ' extension='jpg' onDelete="deleteFile" onConfirm="saveFile" disabled=isDisabled addTextNew=(translate 'addImage')}}
{{/if}}
{{else if isText}}
{{adaptable-text-box adaptAs='text' classBinding='isValid::validationError ' value=model.Value id=controlId id=controlId disabled=isDisabled maxlength=inputMaxlength}}
{{else if isInt}}
{{number-textbox classBinding='isValid::validationError ' mode='int' number=model.Value id=controlId disabled=isDisabled}}
{{else if isPrice}}
{{number-textbox classBinding='isValid::validationError ' mode='currency' number=model.Value id=controlId disabled=isisabled}}
{{else if isYesNo}}
{{#if model.ShowAsRadioButtons}}
<div class="radioButtonContainer{{if isValid '' ' validationError'}}" id="{{controlId}}">
    {{radio-button value='Ja' checkedValue=model.Value name=model.IdObject id=idYes disabled=isDisabled}}<label for="{{idYes}}">{{translate 'yes'}}</label>
    {{radio-button value='Nein' checkedValue=model.Value name=model.IdObject id=idNo disabled=isDisabled}}<label for="{{idNo}}">{{translate 'no'}}</label>
</div>
{{else}}
<div class="checkBoxContainer{{if isValid '' ' validationError'}}" id="{{controlId}}">
    {{tristate-checkbox checkedValue='Ja' uncheckedValue='Nein' currentValue=model.Value}}
</div>
{{/if}}
{{else if isYes}}
<div class="checkBoxContainer{{if isValid '' ' validationError'}}" id="{{controlId}}">
    {{input type="checkbox" checked=model.Value disabled=isDisabled}}
</div>
{{else if isMemo}}
{{adaptable-text-box adaptAs='memo' classBinding='isValid::validationError ' value=model.Value id=controlId disabled=isDisabled}}
{{else if isDate}}
{{date-textbox classBinding='isValid::validationError ' value=model.Value id=controlId disabled=isDisabled allowEmpty=true}}
{{/if}}
{{/if}}
{{/if}}
{{/blend-element}}
{{/unless}}
