html {
    font-size: 70%;
    background: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

.uk-scope .uk-card-default {
    background-color: transparent;
    box-shadow: 0 0px 0px;
}

.uk-scope,
.uk-label,
.uk-breadcrumb>*>*,
.uk-navbar-nav>li>a,
.uk-button,
.uk-form-label {
    font-size: inherit !important;
    font-style: inherit !important;
    font-family: inherit !important;
}

.uk-navbar-container {
    background-color: inherit !important;
}

.uk-scope .uk-navbar-nav > li.uk-active > a {
    border-bottom-color: #f7a300;
}

.uk-scope a {
    font-weight: normal;
}

.uk-scope .uk-button-primary,
.uk-scope .uk-button-primary:hover {
    background: #005189;
}

.uk-scope .uk-link, .uk-scope a {
    color: #005189;
}

.uk-subnav-pill > .uk-active > a {
    background-color: #005189;
    color: #fff;
}

/*
.uk-navbar-nav > .uk-active > a {
    background: #d5d5d5;
    border-radius: 0.1rem;

}


.uk-navbar-nav > li > a {
    height: 4.5rem !important;
}
*/